<launch>    
  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_diff.launch" /> -->
  <!--<include file="$(find amcl)/examples/amcl_omni.launch" />-->
  <!--<include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
  </include>-->
  <param name="/use_sim_time" value="true" />
  <arg name="robot_name"/>
  <include file="$(find pro_ant)/launch/amcl_diff_with_map_hwk.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>
   <node pkg="tf" type="static_transform_publisher" name="map_to_odom_combined" args="0 0 0 0 0 0 /map $(arg robot_name)_tf/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_camera_depth" args="0 0 0 0 0 0 /map $(arg robot_name)_tf/base_link 100"/>

  <!-- Define your move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pro_ant)/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find pro_ant)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pro_ant)/local_costmap_params.yaml"  command="load" />
    <rosparam file="$(find pro_ant)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pro_ant)/base_local_planner_params.yaml" command="load" />
    <remap from="map" to="/map" />
  </node> 
</launch>